<body style="height: 1300px; overflow: hidden">
<h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">--Mlijeko--</h4>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
    Mlijeko i mliječni proizvodi jedna su od pet grupa hrane u piramidi pravilne prehrane. Prema preporukama stručnjaka, potrebno ih je konzumirati svakodnevno u količini od 2 do 3 porcije. 
</p>
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">Sastav mlijeka 
        
    </h4> 
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">Mlijeko sadrži mnogo hranjivih materija, od kojih se ističu: ugljikohidrati (laktoza), mliječne masti i bjelančevine, minerali (kalcij, fosfor, kalij i magnezij), te vitamini (vitamin D, vitamin A, vitamin B2 (riboflavin), vitamin B3 (niacin) i vitamin B12 (cijanokobalamin)). 
    Zdravstvene dobrobiti mlijeka 
    Kalcij je ključan mineral u izgradnji i održavanju zdravlja kostiju i zuba, te za pravilnu funkciju mišića i nervnog sistema.
    Osim što je važan za pravilan rast kostiju, kalcij je i glavni nutrijent koji pomaže održavanju zdravlja krvnih žila i krvnog pritisaka. Bjelančevine imaju višestruku ulogu u održavanju zdravlja našeg organizma; važne su za rast i razvoj našeg tijela, te funkciju mišića. Mliječna mast dobar je izvor energije i esencijalnih masnih kiselina koje su prijeko potrebne ljudskom organizmu, a odgovorna je i za pun i prirodan okus mlijeka. Vitamin B, magnezij i fosfor organizam koristi za oslobađanje energije iz hrane, dok su vitamini A i D važni za održavanje zdravlja kose, kože, kostiju i zuba. 
</p>
<h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
    Kako iskoristiti pokvareno mlijeko? 
</h4>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
    Većina ljudi ga baci, ne znajući njegovu višestruku upotrebu u domaćinstvu i svakodnevnom životu.  
</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">1. Zamjena za jogurt
</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">    
    Koristite ga kao zamjenu za jogurt, dodajte ga u kolače, smjesu za palačinke ili druga kuhanja. Neugodni mirisi će ispariti. 
</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">2. Sir
</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">    Uskislo mlijeko ostavite da se još malo zgusne.
    Takvo stavite na najblažu vatru dok se ne stvori surutka. Ostavite ga da se prohladi, pa sipajte u vrećicu od gaze, okačite je negdje i stavite da se cijedi. Kad se ocijedi dobit ćete neslan krem sir. 
</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
    3. Dodatak u supama
</p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        Pokvareno mlijeko se može normalno koristiti i kao sastojak u supama, kako bi bile kremastije. 

</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
    4. Dodatak salatama 

</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
    Krem sa pokvarenog mlijeka može da bude idealan dodatak salatama. 

</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
    5. Kajmak
</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
    6. Krema za lice 
</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
    Izmasirajte svoje lice pokvarenim mlijekom, pa onda to isperite vodom. Rezultate ćete vidjeti jako brzo. Istu recepturu možete iskoristiti i za ostatak tijela, kao losion. 

</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
    7. Kućne biljke 

</p>
<p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
    Kalcij koji ostaje u mlijeku - bilo ono pokvareno ili ne, možete iskoristiti da zalijete biljke u stanu ili oko njega. Osim što će ojačati biljku, otopina mlijeka i vode vrlo je učinkovita u zaštiti od gljivičnih bolesti. Razrijeđenom mješavinom u omjeru 1:10 biljka se preventivno može prskati svaki drugi dan za vrijeme najhladnijeg dijela dana.

</p>
    
   <img style="position: relative; bottom: 320px; left: 1150px; height: 500px; width: 400px" src="https://image.flaticon.com/icons/svg/288/288503.svg" alt="">
   <img style="position: relative; bottom: 960px; left: 750px; height: 500px; width: 400px" src="https://i.postimg.cc/ZnqhPR0P/milk.png
   " alt="">
   <img (click)="goToLink('https://www.youtube.com/watch?v=90cr2Z-S4Vg&fbclid=IwAR2FYO5z0biJWBziHo8PrQTTib37zGabP129tXm0fDbu9DRyNAgbbVccHAU')" style="position: relative; bottom: 380px; right: 290px; height: 80px; width: 80px; cursor: pointer;" src="https://image.flaticon.com/icons/svg/1384/1384060.svg">
<p style="color: white; position: relative; bottom: 400px; left: 420px; height: 80px; width: 330px;">Kliknite dugme za informativni video</p>
</body>
