<body style="height: 1650px; overflow: hidden">
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">--Jabuke--</h4>

        <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">Hranjive vrijednosti  
            
        </h4> 
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
            U jabuci ima i do 40 mg vitamina C, potom vitamina A, E, B1, B2, B6 i beta-karotena. Ona sadrži i minerale kalij (100 do 180 mg) te kalcij, fosfor, magnezij i željezo.
            Jabuka je bogata polifenolima - biljnim spojevima koji imaju snažnu antioksidativnu aktivnost. Sadrži kvercetin, kamferol, miricetin, katehine, antocijanine i još preko 20 antioksidanata. 100 grama jabuke sadrži 3,3 grama dijetalnih vlakana, što je više od 10% preporučene dnevne količine.
            </p>
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        Zdravstvene dobrobiti jabuke 
    </h4>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        a) jača imunitet
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        b) potpomaže mršavljenju
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">    
        c) stimulira rad bubrega, jetre i žuči
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        d) štiti od bolesti usne šupljine
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        e) stimulira probavu
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        f) štiti srce i krvne žile
    </p>
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
            g) pomaže kod stresa, umora i nesanice
    
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        h) štiti od bakterija i virusa 
    
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        i) sprečava nekoliko vrsta raka
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Zahvaljujući visokom udjelu ugljikohidrata, posebno fruktoze i glukoze, jabuka opskrbljuje organizam energijom i sprečava umor i gubitak koncentracije.
        Zbog visokog sadržaja vitamina C i antioksidanata, jabuka ima snažno imunostimulirajuće djelovanje. Sprečava nakupljanje štetnih tvari u krvi, smanjuje povišeni holesterol i začepljenje krvnih žila. Na takav način štiti od tromboze i ateroskleroze.        
    </p>
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Kako iskoristiti jabuke? 
    </h4>
        

    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        1. Proljepšajte kožu 
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Iskoristite hranjive meterije jabuke kako bi koži podarili ljepši izgled. Narendajte jabuku, pomešajte je sa malo smeđeg šećera pa ovim pilingom očistite lice. Drugi način jesre da  pomješate narendanu jabuku sa  malo zobenih pahuljica i maslinovog ulja kako bi dobili hranjivu masku koja će nahraniti kožu, te osvežiti vaš izgled.
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        2. Olakšajte alergije
    </p>    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Jabuke su bogate kvercetinom, biljnim sastojkom koji smanjuje lučenje histamina, hemikalije koju vaše tijelo ispušta tijekom alergijskih reakcija. 
        Jedna studija objavljena u časopisu Thorax otkrila je kako su muškarci koju su konzumirali 5 ili više jabuka u sedam dana na kraju imali bolju funkciju pluća od muškaraca koji nisu konzumirali jabuke.
    </p>    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        3. Čuva svježinu hljeba i kolača
    </p>    
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Ako treba da sačuvate hljeb ili kolač na nekoliko dana, spremite ih zajedno sa kriškom jabuke, jer su odlični ovlaživači koji će produžiti svježinu vaših namirnica.    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        4. Uljepšava miris kuće
    </p>    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        Ne morate da trošite dodatni novac za sprejeve kojima ćete namirisati dom. Umjesto toga možete sami napraviti osvježivač od dehidriranih jabuka, cimeta, klinčića, korice narandže i drugih začina.    </p>
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
            5. Hrana za životinje
        </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        5a. Pticama je ovo draga poslastica, a posebno tijekom hladnih dana kada im hrana nije lako dostupna. Narežite jabuku na komadiće i ostavite na balkonu ili prozoru. </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        5b. Psi puno vole da jedu jabuke, a ustvari su jabuke jako dobre i hranjive za vašeg kućnog ljubimca. Ako vaš pas ima problema sa bubrezima nemojte mu davati da jede jabuke, također pripazite da ne bi pojeli sjemenke. 
    </p>  
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Ako treba da sačuvate hljeb ili kolač na nekoliko dana, spremite ih zajedno sa kriškom jabuke, jer su odlični ovlaživači koji će produžiti svježinu vaših namirnica.     </p> 
        <img style="position: relative; bottom: 1380px; left: 1130px; height: 500px; width: 400px" src="https://image.flaticon.com/icons/svg/135/135728.svg" alt="">
        <img style="position: relative; bottom: 450px; left: 730px; height: 500px; width: 400px" src="https://image.flaticon.com/icons/svg/2166/2166168.svg" alt="">

        <img (click)="goToLink('https://www.youtube.com/watch?v=rZX5FpgrOI0&fbclid=IwAR2FYO5z0biJWBziHo8PrQTTib37zGabP129tXm0fDbu9DRyNAgbbVccHAU')" style="position: relative; bottom: 380px; right: 290px; height: 80px; width: 80px; cursor: pointer;" src="https://image.flaticon.com/icons/svg/1384/1384060.svg">
     <p style="color: white; position: relative; bottom: 400px; left: 420px; height: 80px; width: 330px;">Kliknite dugme za informativni video</p>
    </body>