<body style="height: 1800px; overflow: hidden">
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">--Banana--</h4>

        <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">Hranjive vrijednosti banane
        </h4> 


    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        Banane su bogate vitaminima i mineralima, a sadrže jako malo masnih kiselina, također sadrže malo proteina, a sastavljene su većinom od vode i ugljikohidrata. Nezrele banane su pune škroba, a sazrijevanjem nastaju šećeri: 
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        a) glukoza
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">    
        b) fruktoza,
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        c) saharoza.
    </p>
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        Banana je bogata mnogim vitaminima, a to su:
    </h4>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">  
        a) niacin ili vitamin B3,
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        b) folna kiselina ili vitamin B6 – otprilike 33% od preporučene dnevne doze,
    </p>
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
            c) riboflavin ili vitamin B2,
    
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        d) vitamin C – 11% od preporučene dnevne doze,
    
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        e) vitamin A.
    
    </p>
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">
        Zdravstvene dobiti banana
    </h4>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Značajne su za naše zdravlje zbog visokog udjela kalija, vitamina i dijetalnih vlakana. Pomažu kod:
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        a) srčanih
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        b) probavnih bolesti 
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        c) anemije
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        d) depresije i anksioznosti 
    </p>
        

    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        e) održavaju zdravlje bubrega 
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        f) poboljšavaju koncentraciju
    </p>
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Kako iskoristiti banane? 
    </h4>    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        1. Za ishranu kože lica
    </p>    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        Unutrašnjom stranom kore od banane namažite područje oko očiju ili cijelo lice. Banana čini kožu mekšom i zateže je, a može pomoći i u reduciranju sitnijih bora lica. Bananu možete iskoristiti i za skidanje šminke, gdje napravite pastu od banane i naneste je na lice, zatim je odstranite pomoću tufera namočenog u toploj vodi. 
    </p>    
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">        2. Za ishranu kose 
    </p>
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
            Ukoliko vam je kosa suha i oštećena, izblendajte bananu sa kokosovim ili maslinovim uljem, te smjesu nanesite na kosu. Ostavite da djeluje 30 do 45 minuta, nakon čega možete isprati kosu. 
        </p>    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;">3. Izbjeljivanje zuba</p>
            
            <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
                Koru od banane, možete koristiti i za izbjeljivanje zuba, tako što ćete unutrašnjom stranom kore mazati zube u trajanju 2 do 3 minute, pored izbjeljivanja na taj način i hranite zube zbog prisustva nutrijenata, kao što su magnezij, kalij, kalcij. 
            </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        4. Kućanska upotreba 
    </p>
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
            Za kućanske potrebe donosimo više načina iskorištavanja prezrele banane, među kojima su najznačajniji: 
        </p>  
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
        4a. "Nahranite vrt"</p>
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
            Banana koja više nije za konzumaciju možete je dadati u zemlju u kojoj uzgajate povrće, naročito je značajna za paradajz, jer je veoma bogata hranjivim nutrijentima koje hrane samo tlo. 
</p>
            <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
                4b. Za ishranu cvijeća
</p>
                <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
                    Kako za čovjeka, tako je i cvijeću potrebna njega. Staru bananu umotajte u pamućnu krpu, te zgnječite. Nakon toga čistite listove vašeg cvijeta, pri čemu ćete istovremeno nahraniti cvijet, te dobiti sjajne listove, na koje će se u manjoj mjeri nakupljati prašina. 
</p>
                    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
                        4c. Za poliranje kožnih cipela ili namještaja
</p>
                        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; text-align: center;"> 
                            Staru bananu možete iskoristiti na jedan od načina koje smo prethodno objasnili, dok njenu koru možete i pored navedenih načina iskoristiti i u poliranju kožnih stvari. Nakon sto unutrašnjom stranom banane namažete kožni predmet, potrebno je samo da ispolirate mekanom i suhom krpom.
</p>
                                                            
        <img style="position: relative; bottom: 1380px; left: 1100px; height: 500px; width: 400px" src="https://image.flaticon.com/icons/svg/2224/2224095.svg" alt="">
        <img style="position: relative; bottom: 450px; left: 720px; height: 500px; width: 400px" src="https://image.flaticon.com/icons/svg/1012/1012787.svg" alt="">

        <img (click)="goToLink('https://www.youtube.com/watch?v=4zAXGXRmQow&fbclid=IwAR2j9xwVe4a8jkjRL5G9jAPepjEJ0auqyhfkF7GeWWsLyuaoALLqLNYChjk')" style="position: relative; bottom: 380px; right: 290px; height: 80px; width: 80px; cursor: pointer;" src="https://image.flaticon.com/icons/svg/1384/1384060.svg">
     <p style="color: white; position: relative; bottom: 400px; left: 420px; height: 80px; width: 330px;">Kliknite dugme za informativni video</p>
    </body>

