<body style="height: 1050px; overflow: hidden">
    <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">--Paradajz--</h4>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">Paradajz se u prehrani 
        koristi sirov (kao salata…), kuhan (supa ili varivo), pržen, kao pire ili kao dodatak kuhanim jelima. Sve više se koristi 
        sok od paradajza, konzervirani paradajz (u bocama), kašasti paradajz, kečap za preljeve i umake. Tokom zime se koristi 
        konzerviran na razne načine.
    </p>
        <h4 style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">Sastav paradajza 
            
        </h4> 
        <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
            Paradajz sadrži malo kalorija, a dosta hranljivih sastojaka:
        </p>
        <div style="height: 400px; width: 600px; display:inline-block">
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">    
        – bjelančevine    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
        – beta-karoten
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
        – biljna vlakna
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
        – biljne masti
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
        – vitamin A, B, C, D i K
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
        – željezo
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
        – likopen    
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – kalij
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – kalcij
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – karotenoid
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – lutein
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – mineralne soli
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – proteine
    </p>

    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – ugljikohidrati
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – kofeinsku kiselinu
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – flavonoid
    </p>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; "> 
        – fosfor
    </p>
</div>
    <p style="position: relative; top: 50px; left: 50px; color: white; width: 1000px; ">
        Većina ljudi ga baci, ne znajući njegovu višestruku upotrebu u domaćinstvu i svakodnevnom životu.  
    </p>
        
       <img style="position: relative; bottom: 650px; left: 350px; height: 600px; width: 600px" src="https://image.flaticon.com/icons/svg/135/135702.svg" alt="">

       <img style="position: relative; bottom: 1050px; left: 450px; height: 300px; width: 300px" src="https://image.flaticon.com/icons/svg/135/135702.svg" alt="">

       <img style="position: relative; bottom: 600px; left: 150px; height: 400px; width: 400px" src="https://image.flaticon.com/icons/svg/135/135702.svg" alt="">



