.triangle-up {
    position: relative;
    top: 100px;
    margin: auto;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 250px 500px 250px;
    border-color: transparent transparent transparent transparent;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.clickable {
    cursor: pointer; 
}