
<div class="triangle-up">
    <img style="height: 60px; width: 60px; position: relative; right: 30px; top:50px" src="https://cdn3.iconfinder.com/data/icons/food-6-4/128/279-512.png">
    <img style="height: 60px; width: 60px; position: relative; right: 70px; top:50px" src="https://image.flaticon.com/icons/png/512/123/123308.png">
    <img style="height: 55px; width: 55px; position: relative; bottom: 10px; left: 8px;" src="https://image.flaticon.com/icons/svg/407/407711.svg">
    <hr style="position: relative; z-index: 999; margin: 0 0 0 -50px; width: 183px; right: 42px; bottom: 6px;">
    <img class="clickable" (click)="navigate('milk')" style="height: 60px; width: 60px; position: relative; bottom: 10px; top:12px; right: 90px;" src="https://cdn4.iconfinder.com/data/icons/coffee-house-hand-drawn-icons/64/Coffee-House_36-512.png">
    <img class="clickable" (click)="goToLink('https://www.youtube.com/watch?v=UaUW-8FzNwg&feature=share&fbclid=IwAR0hcg4Egyea-xyTYfmKVkGATDAaFcGwPAx55yBdSPe4IYk4qeXpmR5Dfqg')" style="height: 60px; width: 60px; position: relative; bottom: 53px; left: 25px;" src="https://cdn1.iconfinder.com/data/icons/restaurants-and-food/95/chicken-512.png">
    <hr style="position: relative; z-index: 999; margin: 0 0 0 -50px; width: 277px; right: 90px; bottom: 44px;">
    <img class="clickable" (click)="navigate('apple')" style="height: 60px; width: 60px; position: relative; bottom: 50px; right: 135px;" src="https://cdn3.iconfinder.com/data/icons/food-nutrition/92/apple-512.png">
    <img class="clickable" (click)="navigate('banana')" style="height: 60px; width: 60px; position: relative; bottom: 66px; right: 155px;" src="https://cdn1.iconfinder.com/data/icons/fruits-filled-outline-1/50/Fruits_-_Filled_outline-10-512.png">
    <img style="height: 60px; width: 60px; position: relative; bottom: 145px; right: 90px;" src="https://cdn1.iconfinder.com/data/icons/food-2-11/128/bunch-grapes-food-fruit-grape-512.png">
    <img class="clickable" (click)="navigate('tomato')" style="height: 50px; width: 50px; position: relative; bottom: 240px; left: 70px;" src="https://image.flaticon.com/icons/svg/2224/2224296.svg">
    <img style="height: 50px; width: 50px; position: relative; bottom: 245px; left: 90px;" src="https://image.flaticon.com/icons/svg/1515/1515021.svg">
    <img style="height: 50px; width: 50px; position: relative; bottom: 305px; left: 30px;" src="https://image.flaticon.com/icons/svg/1465/1465960.svg">
    <hr style="position: relative; z-index: 999; margin: 0 0 0 -50px; width: 393px; right: 147px; bottom: 291px;">
    <img style="height: 60px; width: 60px; position: relative; bottom: 275px; right: 195px;" src="https://image.flaticon.com/icons/svg/135/135596.svg">
    <img style="height: 60px; width: 60px; position: relative; bottom: 340px; right: 130px;" src="https://image.flaticon.com/icons/svg/1145/1145172.svg">
    <img style="height: 60px; width: 60px; position: relative; bottom: 390px; right: 33px;" src="https://image.flaticon.com/icons/svg/1046/1046828.svg">
    <img style="height: 60px; width: 60px; position: relative; bottom: 467px; left: 63px;" src="https://image.flaticon.com/icons/svg/1728/1728727.svg">
    <img style="height: 50px; width: 50px; position: relative; bottom: 525px; left: 133px;" src="https://image.flaticon.com/icons/svg/1147/1147593.svg">
    <hr style="position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 90px; left: 50px; bottom: 816px">
    <hr style="position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 115px; left: 50px; bottom: 816px">
    <h2 style="color: white; position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 115px; bottom: 682px">Žitarice</h2> 
    <h2 style="color: white; position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 115px; bottom: 1120px; left: 180px; width: 300px;">Meso i mesnati proizvodi</h2> 
    <h2 style="color: white; position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 115px; bottom: 1232px; right: 400px; width: 400px; z-index: -1">Mlijeko i mliječni proizvodi</h2> 
    <h2 style="color: white; position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 115px; bottom: 1232px; right: 197px; width: 400px; z-index: -1">Voće</h2> 
    <h2 style="color: white; position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 115px; bottom: 1347px; left: 237px; width: 400px">Povrće</h2> 
    <h2 style="color: white; position: relative; z-index: 999; margin: 0 0 0 -50px; width: 1px; height: 115px; bottom: 1810px; right: 130px; width: 400px">Ulje, masti, slatkiši i grickalice</h2> 
    <h3 style="height: 580px; color: white; bottom: 1000px; text-align: center; width: 500px; position: relative; right: 200px; z-index: 999;margin: 0 0 0 -50px;">
        Hrana za ljude ne predstavlja samo osnovni uvjet za preživljavanje. Hrana je postala novi vid umjetnosti, način na 
        koji slavimo bitne događaje i mi uživamo u njenom spremanju i konzumiranju.
        Zato je često poražavajući podatak da preko 1/3 hrane propadne godišnje koju svjesno bacamo ili koja u procesiranju 
        i transpotu propadne.  Najbolje riješenje za ovaj rastući klimatski, ekološki i socioekonomski problem jeste da mi 
        svjesno smanjimo bacanje hrane. Najčešći uzrok njenog bacanja u našim domaćinstvima je zbog nepravilnog čuvanja ili 
        prekomjerne upotrebe namirnica za jedan obrok. Ali za ove problem postoje lahka riješenja ako poznajemo par trikova 
        i novih načina kako jednu namirnicu upotrijebiti vise puta.</h3>
    <img style="height: 400px; width: 400px; position: relative; bottom: 1590px; right: 650px" src="https://image.flaticon.com/icons/svg/54/54395.svg">
    <h2 style="height: 580px; color: white; bottom: 2100px; text-align: center; width: 700px; position: relative; right: 350px;"></h2>

    <img style="height: 400px; width: 400px; position: relative; bottom: 2620px; left: 280px" src="https://image.flaticon.com/icons/svg/54/54942.svg">
    <h2 style="height: 580px; color: white; bottom: 3200px; text-align: center; width: 700px; position: relative; right: 350px;"></h2>

    <img style="height: 650px; width: 650px; position: relative; bottom: 3790px; right: 330px;" src="https://image.flaticon.com/icons/svg/32/32341.svg">
</div>
